<div class="row">
  <div class="col-md-12">
    <br>
  </div>
  <div class="col-md-8 main">
foto do jogo + classificação + escritor
    <br>
    <br>
    <br>
    <br>
analise do jogo
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <div class="col-md-12">
    <br>
    <br>
  outras  Reviews do mesmo videojogo
    <br>
    <br>
  </div>
  <div class="col-md-12">
    <br>
    <br>
   comentarios
   <br>
   <br>
 </div>
   </div>
  <div class="col-md-4">
    <div class="col-md-12 main">
      <br>
Outras reviews do analisador
      <br>
      <br>
      <br>
      <br>
    </div>
    <br>

</div>
</div>
<br>
<br>
<br>
<br>
