<div class="row">
  <div class="col-md-12">
    <br>
  </div>
  <div class="col-md-8 debug">
foto + descrição + estatuto (analisador empresa,etc)
    <br>
    <br>
    <br>
    <br>
reviews favoritas + analisadores favoritos ou jogos publicados
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <div class="col-md-12">
    <br>
    <br>
   comentarios
   <br>
   <br>
 </div>
   </div>
  <div class="col-md-4">
    <div class="col-md-12 debug">
      <br>
Amigos (caso não seja empresa)
      <br>
      <br>
      <br>
      <br>
    </div>
    <br>

</div>
</div>
<br>
<br>
<br>
<br>
