<div class="row">
  <div class="col-md-12">
    <br>
  </div>
<% @contas.each do |j| %>
  <div class="col-md-3 debug">
    Nome:  <%= link_to j.nome, view_conta_path(j) %> <br>
    Email:  <%= j.email %> <br>
    Tipo:  <%= j.tipo %> <br>
  </div>
<%end%>

    <div class="col-md-12">
      <br>
    </div>
</div>
