<div class="row">
  <div class="col-md-12">
    
  </div>
    <h1> Seguidos de <%=@conta.nome%> </h1>
  <div class = "sort_paginate_ajax"><%= render 'fcontas_index' %></div>


    <div class="col-md-12">
      <br>
    </div>
</div>
