
  <body>

    <div class="row">
      <div class="col-md-12">
        
        <br>
      </div>
      <div class="col-md-8 debug">
        <center> últimas noticias </center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class="col-md-4">
        <div class="col-md-12 debug">
          <br>
          Info Conta
          <br>
          <br>
          <br>
          <br>
        </div>
        <br>
        <div class="col-md-12 debug">
          <br>
          <%= link_to "Jogos perto de sair", jogo_view_path %>
          <br>
          <br>
          <br>
          <br>
        </div>
        <br>
        <div class="col-md-12 debug">
          <br>
          <%= link_to "Ultimas Reviews", review_view_path %>
          <br>
          <br>
          <br>
          <br>
        </div>
        <br>
        <div class="col-md-12 debug">
          <br>
          Tendencias
          <br>
          <br>
          <br>
          <br>
        </div>
        <br>
      </div>
      <div class="col-md-12">
        <br>
      </div>
</div>

  </body>
