<div class="row">
  <div class="col-md-12">
    <br>
  </div>
<% @noticias.each do |j| %>
  <div class="col-md-3 debug">
    Nome:  <%= link_to j.nome, view_noticia_path(j) %> <br>
    Descrição:  <%= j.descricao %> <br>
    Texto:  <%= j.texto %> <br>
    Data:  <%= j.data %> <br>
  </div>
<%end%>

    <div class="col-md-12">
      <br>
    </div>
</div>
