<div class="row">


  <div class="col-md-12">
    Nome:  <%= @noticia.nome %> <br>
    Descrição:  <%= @noticia.descricao %> <br>
    Texto da Noticias:  <%= @noticia.texto %> <br>
    Data de publicação:  <%= @noticia.data %> <br>
  </div>



</div>
