<div class="row">


  <div class="col-md-12">

    <div class="col-m-6">
        <%=button_to 'Editar Conta', fedit_conta_path(current_conta.id), method: :get, class:"btn btn-success"%>
    </div>


  </div>

</div>
