<div class="row">
  <div class="col-md-12">
    <br>
  </div>
  <div class=" col-md-7 main">
    <%= @noticia.nome %><br>

    <%= @noticia.foto %><br>

    <%= @noticia.texto %><br>
   </div>
  <div class="col-md-4" style="margin-bottom:250px;">
    <div class="col-md-12 main">

      Noticias do mesmo "tipo"
    </div>
    <br>

</div>
</div>
<br>
<br>
<br>
<br>
