<div class="row">
  <div class="col-md-12">
    <br>
  </div>
  <div class="col-md-8 debug">
    <%= @jogo.nome %><br>
    <%= @jogo.preco.to_s %>€<br>
    <%= @jogo.developer %><br>
    <%= @jogo.data_de_lancamento %><br>
    <br>
    <br>
  <div class="col-md-12">
    <br>
    <br>
    Reviews do videojogo
    <br>
    <br>
  </div>
  <div class="col-md-12">
    <br>
    <br>
   comentarios
   <br>
   <br>
 </div>
   </div>
  <div class="col-md-4">
    <div class="col-md-12 debug">
      <br>
Jogos do mesmo "tipo"
      <br>
      <br>
      <br>
      <br>
    </div>
    <br>

</div>
</div>
<br>
<br>
<br>
<br>
