<div class="row">
  <div class="col-md-12">
    <br>
  </div>
  <div class="col-md-8 main">
   <%= @conta.nome %>
   <%= @conta.tipo %>
   <%#= @conta.foto %>
    <br>
    <br>
reviews favoritas + analisadores favoritos ou jogos publicados
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <div class="col-md-12">
    <br>
    <br>
   comentarios
   <br>
   <br>
 </div>
   </div>
  <div class="col-md-4">
<% if @conta.tipo == "empresa" %>
    <div class="col-md-12 main">
      <br>
Amigos (caso não seja empresa)
      <br>
      <br>
      <br>
      <br>
    </div>
    <br>
<%end%>

</div>
</div>
<br>
<br>
<br>
<br>
