<div class="row">
  <div class="col-md-12">
    <br>
  </div>
  <div class="col-md-8 main">
    <%= @noticia.nome %><br>

    <%= @noticia.foto %><br>

    <%= @noticia.texto %><br>
  <div class="col-md-12 main">
   comentarios
   <br>
   <br>
 </div>
   </div>
  <div class="col-md-4">
    <div class="col-md-12 main">
      <br>
      Noticias do mesmo "tipo"
      <br>
      <br>
      <br>
      <br>
    </div>
    <br>

</div>
</div>
<br>
<br>
<br>
<br>
