<div class="row">
  <div class="col-md-12">
    <br>
  </div>
  <div class="col-md-8 debug">
foto + descrição da policia
    <br>
    <br>
    <br>
    <br>
Noticia
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <div class="col-md-12">
    <br>
    <br>
   comentarios
   <br>
   <br>
 </div>
   </div>
  <div class="col-md-4">
    <div class="col-md-12 debug">
      <br>
Noticias do mesmo "tipo"
      <br>
      <br>
      <br>
      <br>
    </div>
    <br>

</div>
</div>
<br>
<br>
<br>
<br>
