<div class="row">
  <div class="col-md-12">
    <br>
  </div>
  <div class="col-md-8 main">
foto + Informação de jogo
    <br>
    <br>
    <br>
    <br>
Review favorita + classificação profissional + classificação da comunidade
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <div class="col-md-12">
    <br>
    <br>
    Reviews do videojogo
    <br>
    <br>
  </div>
  <div class="col-md-12">
    <br>
    <br>
   comentarios
   <br>
   <br>
 </div>
   </div>
  <div class="col-md-4">
    <div class="col-md-12 main">
      <br>
Jogos do mesmo "tipo"
      <br>
      <br>
      <br>
      <br>
    </div>
    <br>

</div>
</div>
<br>
<br>
<br>
<br>
