<footer class="footer">
      <div class="container main">
        <span class="text-muted">Feito por Miguel Pereira 2018 como projeto de aptidão profissional para a escola de Ruiz Costa</span>
      </div>

    </footer>
<br><br>
